@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

:root {
    --primary: #222222;
    --secondary: #FFFFFF;
    --tertiary: #D8EDFF;
    --quaternary: #FFFFFF;
}

* {
    border: none !important;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary);
    color: var(--secondary);
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}