.loadingBG {
    background: linear-gradient(45DEG,#2F1C53,#A46DFF,#F6D1FD);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loadingParticles {
    position: absolute;
}

.title {
    position: absolute;
    height: 5%;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 5em;
    z-index: 5;
    color: var(--secondary) !important;
}