service cloud.firestore {
  match /databases/{database}/documents {
    match /{allPaths=**} {
      allow read, update, delete;
      allow create;
    }
  }
}
