<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div style = "margin:5%" class="col-md-4">
          <img src="assets/images/logo.png" width="150px" class="user-avatar" />
          <h1>MedExpress</h1>
          <div style = "display:flex;flex-direction: column;width:100%;text-align: center;margin:0 auto; margin-bottom:50%;">
            <button (click)="checkIn()" type="button"  style = "margin:3%" class="btn btn-dark">Check In</button>
            <button type="button" style = "margin:3%" class="btn btn-dark">View account details</button>
          </div>
      </div>
  </div>
</div>
